.idea/
resources/*
others/
src/dialogue_system/data/*
log/train/*
**/*.logs
**/*.log
**/*.py[co]
./log

**/**/**/*.py[co]
**/__pycache__/
**/**/__pycache__/
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store